/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* css for the container  */

.container{
    /* border: 2px solid red; */
    width: fit-content;
    height: fit-content;
    /* background-color: #3f3f3f60; */
    color: white;
}

/* css for the  header section  */

.header{
    /* border: 2px solid darkmagenta; */
    margin-top: 2px;
    width: 100%;
    height: 52px;
    padding: 12px;
    display: flex;
    align-items: center;
    
}

/* css for the body  */

body{
    background-color: #1E1E1E;
}

/* css for the logo  */

.logo{
    /* border: 2px solid royalblue; */
    font-size: 45px;
    font-weight: 600;
    width: 30%;
    margin-left: 2px;
}
.logo span{
    color: #FFDE59;
    font-size: 70px;
}
/* css for the logo end  */


/* css for the navbar start   */

nav{
margin-left:26% ;
/* border: 2px solid darkgoldenrod; */
width: fit-content;
}

/* css for the navbar unorderd list  */
 
.navbar-list{
    display: flex;
}

header nav ul{
    /* border: 2px solid red; */
    margin: 2px;
    padding: 9px;
    justify-content: center;
    width: fit-content;
    margin-left: -24px;
}

/* css to remove the dot from the list  */

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 22px;
    padding: 12px;
    font-weight:500;
    color: white;
    font-family: 'Secular One', sans-serif;

}

 /* css for the navbar on hover  */
nav ul li a:hover{
    color: #FFDE59;
    border-bottom: 2px solid darkgoldenrod;
}

/* css for the first section start here   */
.first-section{
    /* border: 2px solid whitesmoke; */
    display: flex;
    margin: 4px;
    width: 100%;
    height: 660px;
    justify-content: center;
    background-color: #fdae38d8;
}
.about-me{
    /* border: 2px solid red; */
    width: 44%;
    margin: 7px;
    padding: 40px 20px;
    padding-left: 70px;
}
.about-me h1{
    font-size: 82px;
}

 
.about-me span{
    font-weight: 600;
    font-size: 60px;
    color:black;
}
.about-me p{
    /* border: 2px solid forestgreen; */
    font-size: 32px;
    padding: 12px 0;
    margin-top: 19px;
    font-family: 'Amatic SC', cursive;
}

/* css for the first heading  */

.about-me button{
    /* border: 2px solid darkred; */
    background-color: #FFDE59;
    outline: none;
    border: none;
    padding: 9px 35px;
    margin-top: 11px;
    cursor: pointer;
    font-size: 23px;
    box-shadow: 2px 2px 30px #0e0e0e79;
    font-weight: 600;
    border-radius: 50px;
    transition: all ease-out 0.5s;
}

.about-me button:hover{
    transform: scale(1.02);
    background-color:#ddb100;
}

.my-pic{
    /* border: 2px solid chartreuse; */
    padding-top: 82px;
    margin-left:43px ;
    margin-top:72px;
    height: fit-content;
    width: fit-content;
    
}
.my-pic img{
    width: fit-content;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}



/* project section started  */

.my-project{
    
    margin-top: -4px;
    /* border: 6px solid darkmagenta; */
    background-color:#4fa3a5;
    position: relative;
    width: 100%;
    height:850px;
    padding: 170px 100px;
}
.my-project h1{
    /* border: 5px solid darkgreen; */
    font-size: 60px;
    line-height: 49px;
    font-weight: 800;
}
.my-project h1 span{
    /* border: 2px solid darkkhaki; */
    color: #fad543;
}
.my-project p{
    /* border: 5px solid deeppink; */
    width: 35%;
    font-size: 32px;
    font-weight: 400;
    padding-top: 5px;
    font-family: 'Amatic SC', cursive;
    margin-top: 8px;
}
#btn-btn-cv{
    /* border: 6px solid forestgreen; */
    background-color: #FFDE59;
    padding: 9px 25px;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-radius: 50px;
}


/* create hover effect for this btn  */
#btn-btn-cv:hover{
    background-color: orangered;
    opacity: 0.8;
}


/* project section start  */

.project-section{
    /* border: 5px solid chocolate; */
    width:310px;
    height: 450px;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    margin: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
    transition: all 0.2s ease-out;
}


.project-section:hover{
    transform: rotate(16deg);
}
.project-1{
    top: 80px;
    left: 850px;   
}


.project-1 h3,.project-2 h3 ,.project-3 h3 ,.project-4 h3{
    /* border: 2px solid darkgreen; */
    text-align: center;
    /* font size is not changing  */
    font-size: 23px;
    margin-top: 12px;
    color: #FFDE59;
    font-family: 'Roboto', sans-serif; 
}

.project-1 p{
    /* border: 2px solid darkmagenta; */
    font-size: 26px;
}


.project-2{
    bottom: 50px;
    right: 1000px;
}

.project-2 p{
    /* border: 2px solid sandybrown; */
    font-size: 22px;
    letter-spacing: 1px;
}

.project-3{
    bottom: 50px;
    right: 600px;
}

.project-3 p{
    /* border: 2px solid darkgoldenrod; */
    font-size: 26px;
}

.project-4{
    bottom: 50px;
    right: 250px;
}

.project-4 p{
    /* border: 2px solid forestgreen; */
    font-size: 26px;
}


.project-section p{
    /* border: 2px solid slateblue; */
    margin-top:5px;
    width: 80%;
    margin: 29px auto;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}




.project-section a{
    /* border: 3px solid darkgoldenrod; */
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    outline: none;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 22px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 13px 9px;
    margin-top: 4px;
    margin-left: 58px;
    border-radius: 50px;

}

/* third section start  */


.all-about-me{  
    /* border: 2px solid hotpink; */
    background-color:#264248;
    width: 100%;
    margin-top: -43px;
    height: 400px;
    padding: 30px 50px;
    justify-content: center;
}
.about-cont{
    width: 55%;
    padding: 0 60px;
}
.about-cont h1{
    /* border: 2px solid sienna; */
    font-size: 55px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
}
.about-cont p{
    /* border: 2px solid darkcyan; */
    padding: 10px ;
    width: 95%;
    font-size: 26px;
    text-align: justify;
    font-family: 'Amatic SC', cursive;
}
.about-cont span{
    /* border: 2px solid white; */
    font-weight: 600;
    font-size: 60px;
    color: #FFDE59;
}
.about-two{
    width: 40%;
}
.about-two img{
    width: 400px;
}

/* obsession section start  */
.obbsession{
    /* border: 2px solid white; */
    background-color: #DDC3A5;
    margin-top: -39px;
}

.obbsession h1{
    /* border: 3px solid darkgreen; */
    text-align: center;
    text-transform: capitalize;
    margin-top: 39px;
    font-family: 'Oswald', sans-serif;
}

.heading span{
    font-size: 37px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}


.obbsession  .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:12px 0;
}

.obbsession .box-container .box{
    /* border: 2px solid darkgoldenrod; */
    height: 300px;
    width:390px;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.obbsession .box-container .box img{
    height: 300px;
    width:300px;
    object-fit: cover;
}

.obbsession .box-container .box:hover img{
    transform: scale(1.1);
}









/* contact section start  */

.contact{
    /* border: 2px solid white; */
    
}

.contact-heading{
    /* border: 2px solid darkgreen; */
    margin-top: 29px;
    text-align: center;
    font-size: 29px;

}

.contact-heading span{
    color: yellow;
    font-size: 27px;
}

.contact-heading{
    color: white;
    font-size: 23px;
}

.row{
    /* border: 5px solid salmon; */
    margin-top: 22px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    /* border: 2px solid darkblue; */
    margin-left: 29px;
}


.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 39px;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    /* border: 3px solid darkgreen; */
    display: flex;
    align-items: center;
    font-size: 21px;
    color:#eee;
    padding:13px;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 12px;
    color:yellow;
}

form{
    /* border: 2px solid darkgoldenrod; */
    margin-left: 13%;
}

.contact .row form .box{
    /* border: 4px solid darkred; */
    padding:20px;
    padding-left: 64px;
    margin:8px;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size:23px;
    width:700px;
}



.contact .row form .message{
    height:180px;
    resize: none;
}

.btn {
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 12px;
    border: none;
    font-size: 22px;
    padding: 0.7rem 3rem;
    background: rgb(51, 51, 51);
    border-radius: 5rem;
}

/* footer section start  */

footer{
    /* border: 3px solid darkgreen; */
    display: flex;
    width: 100%;
    margin-top: 22px;
    padding: 10px 70px;
    background: gray;
    margin-left: -52px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.detail{
/* border: 2px solid darkmagenta;    */
font-weight: 100;
font-size: 16px;
text-align: center;
}

.social{
    /* border: 2px solid chartreuse; */
    margin-left: 62%;
}

footer .social i{
    /* border: 2px solid red; */
    font-size: 25px;
    margin: 0 3px;
    cursor: pointer;
}
.social i:hover{
    color: white;
    font-size: 34px;
}